.react-calendar {
  width: 100%;
  max-width: 600px;
  background: #f9f8f6;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(34, 34, 34, 0.1);
  color: #066554;
  padding: 1rem;
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.react-calendar__navigation button {
  background: transparent;
  border: none;
  color: #066554;
  font-weight: 700;
  font-size: 1.2em;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.react-calendar__navigation button:hover {
  background-color: #c9d6c4;
  cursor: pointer;
}

.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  color: #066554;
  border-bottom: 1px solid #066554;
}

.react-calendar__tile {
  border-radius: 12px;
  padding: 1em 0;
  background: #f9f8f6;
  color: #066554;
  font-weight: 700;
  font-size: 1.2em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.react-calendar__tile:hover {
  background: #c9d6c4;
  color: #ffffff;
  cursor: pointer;
}

.react-calendar__tile--active {
  background: #066554 !important;
  color: white;
  font-weight: 700;
}

.react-calendar__tile--disabled {
  color: #bdb4c4;
  background: #f0efe7;
  cursor: not-allowed;
}

.react-calendar__navigation__label {
  font-size: 1em;
  color: #475841;
}

.react-calendar__navigation button:enabled:hover svg {
  fill: #066554;
}
