.bg-relax {
  background-color: #306e65 !important;
  color: white !important;
  border: none;
}

.bg-focus {
  background-color: #0900bd !important;
  color: white !important;
  border: none;
}

.bg-energia {
  background-color: #ad5700 !important;
  color: white !important;
  border: none;
}

/* Badge */
.badge.bg-relax {
  background-color: #306e65 !important;
}

.badge.bg-focus {
  background-color: #0900bd !important;
}

.badge.bg-energia {
  background-color: #ad5700 !important;
}

/* Animazione cerchio */
.cerchio {
  width: 140px;
  height: 140px;
  margin: auto;
  border-radius: 50%;
  transform: scale(1);
}

.cerchio.bg-relax {
  background-color: #306e65;
}

.cerchio.bg-focus {
  background-color: #0900bd;
}

.cerchio.bg-energia {
  background-color: #ad5700;
}
