.mynav {
  background-color: rgb(5, 73, 60) !important;
}

body {
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: contain;
}
