.mynav {
  background-color: rgb(5, 73, 60) !important;
}

body {
  background-image: url("./assets/img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: contain;
}

.my-pagination .page-link {
  background-color: #fff !important;
  color: rgb(5, 73, 60) !important;
  border: none !important;
}

.my-pagination .page-item.active .page-link {
  background-color: rgb(5, 73, 60) !important;
  color: #fff !important;
  border: none !important;
}

.mytext {
  color: #066051 !important;
}

.imgProfilo {
  width: 120px !important;
  height: 120px !important;
  object-fit: cover !important;
}

.imgProfiloNav {
  width: 50px !important;
  height: 50px !important;
  object-fit: cover !important;
}

.dropdown-menu {
  background-color: #198754 !important;
  color: white !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #157347 !important;
  color: white !important;
}

.dropdown-menu .dropdown-item:active {
  background-color: #14532d !important;
  color: white !important;
}

.text-custom-active {
  color: #dadacd !important;
  background-color: #05493c !important;
}

.nav-link[aria-disabled="true"] {
  color: #ffffff !important;
  background-color: #05493c !important;
  opacity: 1 !important;
}

.navbar .nav-link {
  font-size: 1em !important;
}

:focus-visible {
  outline: none !important;
  box-shadow: 0 0 0 0.2rem black !important;
}

footer a {
  color: white;
  transition: opacity 0.3s ease;
}

footer a:hover {
  opacity: 0.75;
  text-decoration: underline;
}
